<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">





    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <ul>
        <li><a href="http://localhost:3000/Home">Home</a></li>
        <li><a class="active" href="http://localhost:3000/Service">Service</a></li>
        <li><a href="http://localhost:3000/contact">Contact</a></li>
    </ul>

    <h1 style="background-color: skyblue;"> hello To home Service</h1>

    <div class="header">
        <h1>Service page her yo</h1>
        <p>A website created by me.</p>
    </div>

    <div class="col-md-6 align-self-center">
        <h1>Oops!</h1>
        <h4>The page you are looking for does not exist.</h4>
        <p>
            Sorry!! This page is not available today</br> Our working time (Monday
            to Friday, from 9:00 to 17:00).
        </p>
        <button class="btn green">HOME</button>
    </div>
</body>

</html>